.orange-wave,
.turquoise-wave,
.blue-wave {
  position: relative;
  width: 100%;
  /* height: 20vw; */
  aspect-ratio: 960/200;
}
.orange-wave {
  transform: scale(1.1);
}

.blue-wave {
  margin-top: -13%;
}
.turquoise-wave {
  margin-top: -9%;
}
/* @media (max-width: 1000px) {
  .orange-wave,
  .turquoise-wave,
  .blue-wave {
    transform: scale(1.9);
  }
  .blue-wave {
    margin-top: -6.5%;
  }
  .turquoise-wave {
    margin-top: -1%;
  }
} */

@media (max-width: 1200px) {
  .orange-wave,
  .turquoise-wave,
  .blue-wave {
    transform: scale(1.9);
  }
  .blue-wave {
    margin-top: -6.5%;
  }
  .turquoise-wave {
    margin-top: -1%;
  }
}

/* FOOTER STYLES */

.spacer img {
  aspect-ratio: 960/100;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
